//  Global //
:root {
  --primary-body-color: #161d25;
  --text-color: #a0b5d6;
  --bg-card-background: #445269;
  --bg-item-background: #151f31;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  word-break: break-all;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

body {
  background-color: var(--primary-body-color);
}

.box-input {
  // display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-site {
  font-size: 50px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  margin-top: 25px;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%),
    0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%),
    0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%),
    0 20px 20px rgb(0 0 0 / 15%), 7px 14px 4px rgb(82 100 128 / 93%);
}

.for-text-d {
  text-decoration: none;
}

.form-input-box {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.input-box {
  width: 150px;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #526480;
  border-top: 3px solid #526480;
  border-left: 1px solid#526480;
  border-right: 1px solid#526480;
  border-radius: 50px;
  text-align: center;
  color: #a0b5d6;
  letter-spacing: 2px;
  font-family: "Roboto";
  font-weight: 700;
}

.input-add {
  cursor: pointer;
}

::placeholder {
  color: #a0b5d6;
}

.movie-item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  text-align: center;
  // gap: 50px;
  // padding: 80px 0 40px;
}

.movie-item {
  width: 290px;
  min-height: 450px;
  background: var((--bg-item-background));
  border-radius: 4px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

// .movie-item__new {
//   margin-right: 230px;
// }

.movie-item__img {
  object-fit: cover;
  transition: 0.5s ease;
  filter: brightness(100%);
  margin-top: 10px;
  border-radius: 1.5px;

  &:hover {
    filter: brightness(50%);
    transform: scale(1.02);
  }
}

.movie-card {
  max-width: 250px;
  min-height: 55px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--bg-card-background);
  position: relative;
  justify-content: center;
  transition: 0.5s linear;
  .about {
    // width: 100%;
    // height: 100%;
    // background-color: rgba($color: #000000, $alpha: 0.5);
    // position: absolute;
    display: none;
  }
  &:hover {
    .about {
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 20px;
    }
  }
}

//movie-title//
.movie-card__title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 1.42857143;
  color: var(--text-color);
}

.about {
  color: #fff;
  font-size: 18px;
  [data-movie-id]{
    display: flex;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  align-items: center;
  justify-content: center;
  inset: 0;
  transition: 0.5s linear;
  background-color: rgba($color: #000000, $alpha: 0.5);
  .modal-content {
    background-color: #fff;
    max-width: 80%;
    padding: 0 0 48px 0;
    @media (max-width: 500px) {
      max-width: 95%;
    }
    .modal-content-close {
      color: var(--black-white);
      display: flex;
      align-items: center;
      justify-content: start;
    }
    .modal-pokemons {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      justify-content: center;
      gap: 30px;
      li {
        & {
          @media (max-width: 286px) {
            max-width: 260px;
          }
        }
      }
    }
    button {
      display: none;
    }
  }
}

.movie-about-div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  .right-about{
    max-width: 50%;
    .diagram{
      width: 100%;
      display: inline-block;
      height: 20px;
    }
  }
  .left-about{
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.loader span{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #03a9f4;
  margin: 0 10px;
}

.loader span:nth-child(1){
    animation: 1s jump infinite ease-in-out;
}

.loader span:nth-child(2){
    animation: 1s 0.333s jump infinite ease-in-out;
}

.loader span:nth-child(3){
    animation: 1s 0.667s jump infinite ease-in-out;
}

@keyframes jump{
  0%{
    transform: translateY(0) scale(1);
  }
  30%{
    transform: translateY(-20px) scale(1.2);
  }
  75%{
    transform: translateY(0) scale(1);
  }

}